* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Rubik", sans-serif;
}

:root {
    --text-color: #fff;
    --color: #4ff8ed;
    --bg-color: #2d2d2e;
    --first: #fff;
    --second: #000;
    --mob-color: #363636;
    --box-bg: #333;
    --clr-bg: #3e3e3e;
    --place-clr: #afafaf;
}

body.dark-mode {
    --text-color: #222;
    --bg-color: #f2f2f2;
    --first: #222;
    --second: #fff;
    --mob-color: #eae6e6;
    --box-bg: #e5e5e5;
    --clr-bg: #e5e5e5;
    --place-clr: #6b6b6b;
}

section {
    padding: 5rem 5% 5rem;
}

body {
    background-color: var(--bg-color);

}

.Main {
    display: flex;
    justify-content: center;
    align-content: center;
}

form a {
    color: var(--first);
    font-size: 2rem;
    margin-bottom: 20px;
}

form {
    background-color: var(--mob-color);
    width: 500px;
    height: 600px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 15px;

}

.Name,
.Email,
.Password,
.Number {
    display: flex;
    flex-direction: column;
}

form input {
    width: 400px;
    padding: 1em;
    font-size: 16px;
    color: var(--first);
    border: none;
    outline: none;
    border-radius: 8px;
    margin: 8px 0;
    background: var(--clr-bg);
}

form label {
    color: var(--first);
}

form input {
    border: 2px solid var(--color);
}

form .submit {
    width: 150px;
    border: 2px solid var(--color);
    color: var(--color);
}

form .submit:hover {
    box-shadow: 0 0 1rem var(--color);
    background-color: var(--color);
    color: var(--first);
}

p {
    font-weight: bold;
}

header nav .Navbar {
    background-color: var(--clr-bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px 20px 50px;
}

header nav .Logo span {
    color: var(--color);
}

header nav .Logo {
    color: var(--first);
    font-size: 2rem;
}

header nav .mode {
    display: flex;
}

header nav img {
    width: 30px;
    height: 30px;
}

#sun,
#moon {
    position: relative;
    animation: animate 0.3s;
}

#sun {
    display: block;
}

#moon {
    display: none;
}

@keyframes animate {
    0% {
        transform: rotate(-360deg) scale(0);
        opacity: 0;
    }

    75% {
        transform: rotate(25de);
    }
}

#check {
    display: none;
}

footer {
    color: var(--first);
    font-size: 20px;
    background-color: var(--clr-bg);
    padding: 25px 0 25px 0;
    text-align: center;
}